<p id="notice"><%= notice %></p>

<h1>Children</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Birthday</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @children.each do |child| %>
    <tr>
      <td><%= child.name %></td>
      <td><%= child.birthday %></td>
      <td><%= link_to 'Show', account_child_path(child.account, child) %></td>
      <td><%= link_to 'Edit', edit_account_child_path(child.account, child) %></td>
      <td><%= link_to 'Destroy', account_child_path(child.account, child), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

