<p>
  <strong>Email:</strong>
  <%= @account.email %>
</p>

<p>
  <strong>Crypted password:</strong>
  <%= @account.crypted_password %>
</p>

<p>
  <strong>Salt:</strong>
  <%= @account.salt %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
